#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 10px;
  box-shadow: 0px 5px 7px 0px #dadada;
  border-radius: 6px;
}

#game_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: #f1eded;
  padding: 5px;
}

#error_message {
  color: red;
}

#question_word {
  font-weight: 700;
  text-transform: capitalize;
  color: #ffbf50;
}

#no_anagram_form__button {
  background-color: #7729c6;
  color: #ffffff;
}
